<!DOCTYPE html>
<html>
 
<head>
    <title>Client Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link href="../public/styles.css" rel="stylesheet">
 </head>
 
<body>
    <div class="container">
        <h2>Client Registration</h2>
        <form action="http://localhost:3000/clients" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" required><br>
            <label for="email">Email</label>
            <input type="email" name="email" required><br>
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" required><br>
            <label for="address">Home Address</label>
            <input type="text" name="address" required><br>
            <label for="phone">Date of Birth</label>
            <input type="date" name="date_of_birth" required><br>
            <input type="checkbox" name="is_eu_client" value="Y"> I am an EU residence.<br>
            <input type="submit">
        </form>
        <br>
        <a href="/clients">View Clients</a><br>

    </div>
</body>
 
</html>